-use yii\helpers\Html
-$view->title = $name

.site-error
    h1
        !=Html::encode($view->title)
    .alert alert-danger
        !=nl2br(Html::encode($message))
    p The above error occurred while the Web server was processing your request.
    p Please contact us if you think this is a server error. Thank you.
