include partials/_viewtop.php
//-include partials/_breadcrumbs.php
.columns
  .one-third.column
    h1: !=$page->title
  .two-thirds.column
    .description
      p: !=$page->description
hr
.content
  !=$content
.content
  hr
  !=Html::a(' Edit on Github', $view->params['github-link'], array('target' => '_blank', 'class' => 'fa fa-github right'))
  p: strong: small Contributors to this page
  include partials/_contributors.php