include partials/_viewtop.php
include ../common/_mixins
//-include partials/_breadcrumbs.php
.columns.docs-layout
  .one-third.column
    h1: !=$page->title
  .two-thirds.column
    .description
      p: !=$page->description
hr
.clearfix
  span.updated
    small
      |Last updated 
      +date($page->updated)
.content
  !=$content
.content
  hr
  !=Html::a(' Edit on Github', $view->params['github-link'], array('target' => '_blank', 'class' => 'fa fa-github right'))
  p: small Contributors to this page
  include partials/_contributors.php