include partials/_viewtop.php
//-include partials/_breadcrumbs.php
h1: !=$page->title
hr
.description
  !=$page->description
.content
  !=$content
.content
  hr
  !=Html::a(' Edit on Github', $view->params['github-link'], array('target' => '_blank', 'class' => 'fa fa-github right'))
  p: strong: small Contributors to this page
  include partials/_contributors.php