html {
  font-size: 16px;
}

body {
  font-family: "Helvetica Neue", $body-font;
  font-size: 1rem;
  max-width:100%;
  width:100%;
}

// Make containers responsive
.container {
  width: auto;
  max-width: 1020px;
  padding-left: 20px;
  padding-right: 20px;
}

.imagewrap img {
  max-width:100%;
  height:auto;
}

footer {
  padding-bottom: 3em;
}

.content {
  .updated {
    float: right;
    position: relative;
    top: -1.5em;
    color: $brand-gray-light;
  }
}