footer
  .one-half.column.powered
    .right
      !=Pype::powered(true, 'black')
  .one-half.column.copyright
    .dreamhost.right &nbsp;&nbsp;&nbsp;
        a(href="https://uberspace.de/" target="_blank")
            img(src=$uber_logo title="Hosted on asteroids" alt="Hosted on asteroids" width=100 height=53)
    small.right
      |&copy; 2016 Jacob Moen
