-use yii\helpers\Html
-use yii\helpers\Url
-use jacmoe\mdpages\components\Nav
-use yii\widgets\Breadcrumbs
-use app\components\Pype
-use jacmoe\mdpages\helpers\Page

-
    $view->registerLinkTag([
    'title' => 'RSS Feed',
    'rel' => 'alternate',
    'type' => 'application/rss+xml',
    'href' => Url::to('rss', true),
    ]);

-$theme = $view->theme

doctype html
html(lang=Yii::$app->language)
    head
        meta(charset=Yii::$app->charset)
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title #{$view->title}
        !=Html::cssFile(YII_DEBUG ? '@web/themes/primer/css/all.css' : '@web/themes/primer/css/all.min.css?v=' . filemtime(Yii::getAlias('@webroot/themes/primer/css/all.min.css')))

        link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/manifest.json")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
        -$view->head()
    body
        -$view->beginBody()
        header.masthead
            .container
                a.masthead-logo(href=Yii::$app->homeUrl)
                    img(height="35" width="80" src=$theme->getUrl('/pype.svg') alt="Pype")
                nav.masthead-nav.right
                    !=Html::a('Home', Page::url('index')) . ' | '
                    !=Html::a('Docs', Page::url('docs')) . ' | '
                    !=Html::a('RSS', Url::to('/rss'))
        main.container
            .columns
                .one-fourth.column
                    nav.menu.docs-menu
                        !=Html::a('Home', Page::url('index'), ['class' => ($view->title == 'Pype') ? 'menu-item selected' : 'menu-item'])
                        !=Html::a('Docs', Page::url('docs'), ['class' => ($view->title == 'Documentation') ? 'menu-item selected' : 'menu-item'])
                        !=Html::a('Installation', Page::url('docs/install'), ['class' => ($view->title == 'Installation') ? 'menu-item selected' : 'menu-item'])
                        !=Html::a('How it works', Page::url('docs/how-it-works'), ['class' => ($view->title == 'How it works') ? 'menu-item selected' : 'menu-item'])
                        !=Html::a('Syntax', Page::url('docs/syntax'), ['class' => ($view->title == 'Syntax') ? 'menu-item selected' : 'menu-item'])
                        !=Html::a('Theming', Page::url('docs/theming'), ['class' => ($view->title == 'Theming') ? 'menu-item selected' : 'menu-item'])
                    nav.menu.docs-menu
                        !=Html::a('Pype on Github', 'https://github.com/jacmoe/pype', ['class' => 'menu-item'])

                .three-fourths.column
                    !=$content
            .columns
                hr
                footer
                    .one-half.column.powered
                        .right
                            !=Pype::powered(true, 'black')
                    .one-half.column.copyright
                        .right
                            |&copy;
                            !=date('Y')
                            | The Pype Team 

        !=Html::jsFile(YII_DEBUG ? '@web/themes/primer/js/all.js' : '@web/themes/primer/js/all.min.js?v=' . filemtime(Yii::getAlias('@webroot/themes/primer/js/all.min.js')))
        -$view->endBody()
    -$view->endPage()
