# Apache Configuration File

# (!) Using `.htaccess` files slows down Apache, therefore, if you have access
# to the main server config file (usually called `httpd.conf`), you should add
# this logic there: http://httpd.apache.org/docs/current/howto/htaccess.html.

# ##############################################################################
# # Redirect for PHP                                                           #
# ##############################################################################

<IfModule mod_rewrite.c>
    # Enable URL rewriting
    RewriteEngine On

    # Strip unwanted query strings from the url
    # RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^?]*)\?
    # RewriteRule (.*) /$1? [R=301,L]

    # Change this path, if you have installed PhileCMS in a subdirectory of the website root.
    RewriteBase /

    # Redirect http to https
    RewriteCond %{SERVER_PORT} ^80$
    RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

    # if a directory or a file exists, use it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # otherwise forward it to index.php
    RewriteRule . index.php

</IfModule>
